@import "./tools/variables";
@import "./tools/functions";
@import "./tools/mixins";
@import"./tools/header";
@import"./tools/headline";
@import"./tools/buttons";
@import "./tools/images";
@import "./tools/animations";
@import"./tools/footer";
@import"./tools/menu";



.header__menu{
  @include header_menu;
}

#logo img{
  @include logoimg_menu;
}

.pic{
  @include pic;
}

.main_menu{
  @include menus;
}

.main_title{
  @include menu_title;
}

.menu{
  @include menu_box;
   
}

.food{
  @include food;
  overflow: hidden;
  transition: ease-in;
  animation: appear .5s ease-in-out forwards;
  animation-fill-mode: both;
  transition-timing-function: cubic-bezier(0.1, 0.2, 0.3, 0.4);
  
  @for $i from 0 through 10{
    &:nth-child(#{$i}){
      animation-delay: 300ms * $i;
    }
  }
  &:hover{
    padding-right: 3.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }

  &:hover .price{
    animation: slide 1.2s ease forwards;
    animation-fill-mode: forwards;
    z-index: 1;
    width: 10%;
  }

  &:hover .check{
    visibility: visible;
    position: absolute;
    margin: -6px 0px 0px 80%;
    transition: all 1s;
    animation: slide-check 1s ease both;
    animation-direction: normal;
  }
    &:hover .check i{
    animation: spin 1s ease-in;
    }

    .price{
      @include price;
      z-index: 1;
      width: 10%;
      transition: all 20s;
      animation: slide-back 1s ease;
    }

    &:hover .details{
      width: 70%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover h3{
      width: 70%;
    }

  }
  .details{
    @include details;
    transition: all 1.5s; 
  }

  .name{
    transition: all 1.2s;
  }

  .check{
    @include checkmark;
    transition: all 1s;
    animation: slide-check-back 0.5s ease-in backwards;
    animation-fill-mode: forwards;
  }

.food_type{
  @include food_type;
  animation: appear 1s ease-in forwards;
  animation-fill-mode: both;
  transition-timing-function: linear;
  @for $i from 1 through 10 {
    &:nth-child(#{$i}){
      animation-delay: 100ms * $i;
    }
  }
}

.btn{
  @include btn;
}

.footer{
  @include footer;
}



@media only screen and (min-width: 768px) and (max-width: 992px){

  .header__menu{
    @include header_menu_tablet;
  }

  .food{
    @include food_tablet;

    &:hover .details{
      width: 60%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

     &:hover .check{
      visibility: visible;
      position: absolute;
      margin: -6px 0px 0px 82%;
      transition: all 1s;
      animation: slide-check 1s ease both;
      animation-direction: normal;
    }

    &:hover .check i{
      animation: spin 0.5s ease-in;
      }

    &:hover h3{
      width: 60%;
    }
  }

  .main_title{
    @include menu_title_tablet;
  }  

  .food_type{
    @include food_type_tablet;
  }

  .price{
    @include price_tablet;
    transition: all 10s;
  }

  .check{
    @include checkmark_tablet;

   
  }

  .details{
    @include details_tablet;
    transition: all 1.5s; 
  }

  .btn{
    @include btn_tablet;
  }

  .footer{
    @include footer_tablet;
  }

} 

@media only screen and (min-width: 350px) and (max-width: 760px){

  .food{
    @include food;

    &:hover .details{
      width: 60%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

     &:hover .check{
      visibility: visible;
      position: absolute;
      margin: -6px 0px 0px 85%;
      transition: all 1s;
      animation: slide-check 1s ease both;
      animation-direction: normal;
    }
  }

  .price{
    @include price_mobile_large;
  }

  .details{
    @include details_mobile_large;
    transition: all 1.5s; 
  }

  .food{
    @include food_mobile_large;

    &:hover h3{
      width: 60%;
    }
  }

  .btn{
    @include btn_mobile_large;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1096px){

  .header__menu{
    @include header_menu_lt;
  }  

  #logo img{
    @include logoimg_menu_lt;
    }

  .food_type{
    @include food_type_lt;
  }

  .food{ 
    @include food_lt;

    &:hover .details{
      width: 60%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

     &:hover .check{
      visibility: visible;
      position: absolute;
      margin: -6px 0px 0px 88%;
      transition: all 1s;
      animation: slide-check 1s ease both;
      animation-direction: normal;
    }
  }

  .main_title{
    @include menu_title_lt;
  }

  .price{
    @include price_lt;
  }

  .check{
    @include checkmark_lt;

  }

  .btn{
    @include btn_lt;
  }

  .footer{
    @include footer_desktop;
  }
}

@media only screen and (min-width: 1097px) and (max-width: 1500px){

  .header__menu{
    @include header_lt_large;
  }

  .header__menu{
    @include header_menu_lt_large;
  }  

  #logo img{
    @include logoimg_menu_lt_large;
    }

  .main_title{
      @include menu_title_lt_large;
    }

  .food_type{
      @include food_type_lt_large;
    }
  
  .food{ 
      @include food_lt_large;
  
      &:hover .check{
        margin: -10px 0px 0px 91%;
      }
    }
  
    .main_title{
      @include menu_title_lt_large;
    }
  
    .price{
      @include price_lt_large;
    }
  
    .check{
      @include checkmark_lt_large;
  
    }
  
    .btn{
      @include btn_lt_large;
    }
  
    .footer{
      @include footer_desktop;
    }
  }

  @media only screen and (min-width: 1499px){
    .header__menu{
      @include header_menu_desktop;
    }

    #logo img{
      @include logoimg_menu_desktop;
      }

    .menu{
      @include menus_desktop;
    }

    .main_title{
      @include menu_title_desktop;
    }

    .food{
      &:hover .check{
        visibility: visible;
        position: absolute;
        margin: -6px 0px 0px 87%;
        transition: all 1s;
        animation: slide-check 1s ease both;
        animation-direction: normal;
      }
    }

    .food_type{
      @include food_type_desktop;
    }

    .price{
      @include price_desktop;
    }

    .btn{
      @include btn_desktop;
    }

    .footer{
      @include footer_desktop;
    }
  }

  @media only screen and (min-width: 2560px){

    #block_page{
		margin: 0px 450px 0px 450px;
	}

  .food{
    &:hover .check{
      visibility: visible;
      position: absolute;
      margin: -6px 0px 0px 89%;
      transition: all 1s;
      animation: slide-check 1s ease both;
      animation-direction: normal;
    }
    }
  }

