@import "./tools/variables";
@import "./tools/functions";
@import "./tools/mixins";
@import"./tools/header";
@import"./tools/headline";
@import"./tools/buttons";
@import "./tools/images";
@import "./tools/animations";
@import"./tools/footer";
@import"./tools/menu";

.header__menu{
  @include header_menu;
}

#logo img{
  @include logoimg_menu;
}

.pic{
  @include pic;
}

.main_menu{
  @include menus;
}

.main_title{
  @include menu_title;
}

.menu{
  @include menu_box;
   
}

.food{
  @include food;
  overflow: hidden;
  animation: appear 0.5s ease-in-out forwards;
  animation-fill-mode: backwards;
  @for $i from 1 through 3{
    &:nth-child(#{$i}){
      animation-delay: 80ms * $i;
    }
  }
  &:hover{
    padding-right: 3rem;
    overflow: x;
    text-overflow: ellipsis;
    
  }
  &:hover .price{
    animation: slide 1s ease forwards;

  }

  &:hover .check{
    overflow: hidden;
    visibility: visible;
    padding: -6px 0px 0px 239px;
    transition: all 1s;
    animation: slide-check 1s ease forwards;
    text-overflow: ellipsis;
  }
    &:hover .check i{
    animation: spin 0.5s ease-in;
    }
    .price{
      @include price;
    }
  }
  

  .check{
    @include checkmark;
   
  }

.food_type{
  @include food_type;
  animation: appear 1s ease-in-out;
  animation-fill-mode: backwards;
  @for $i from 1 through 9 {
    &:nth-child(#{$i}){
      animation-delay: 100ms * $i;
    }
  }
}


.btn{
  @include btn;
}



.footer{
  @include footer;
}