@import "./tools/variables";
@import "./tools/functions";
@import "./tools/mixins";
@import"./tools/header";
@import"./tools/headline";
@import"./tools/buttons";
@import "./tools/images";
@import "./tools/animations";
@import"./tools/footer";
@import"./tools/loader";


.header{
  @include header;
}
#logo img{
  @include logoimg;

}
.location{
  @include location;
}

.headline{
  @include headline; 
}

.container_1{
  @include container_1;
}

.list_1, .list_2, .list_3{
  @include lists;
}

.number{
  @include numbers;
}

.container_2{
  @include container_2;
}

.frame{
  @include frame;
}

.frame_text{
  @include frame_text;
}

.description{
  @include description;
}

.heart{
  @include heart;
}

.footer{
  @include footer;
}

.body{
  @include body;
}

.pre-loader{
  @include preloader;
}
.loader{
  @include loader;
}

.circle{
  @include circle;
}
.circle:nth-child(1){
	left: -100px;
	background: $color-secondary;
  animation: slideleft 2s ease forwards infinite;
}

.circle:nth-child(2){
	left: 100px;
	top: -40px;
	background: $color-tertiary;
  animation: slideright 2s ease forwards infinite;
}





