@keyframes rotate{
	0%{
    background: $color-primary;
		transform: rotate(0deg);
	}

	50%{
    background: $color-secondary;
		transform: rotate(0deg);
	}

	100%{
    background: $color-tertiary;
		transform: rotate(360deg);
	}
}

@keyframes slideleft{
  0%{
    background: $color-secondary;
    transform: translateX(0px);
  }

  25%{
    background: $color-secondary;
    transform: translateX(-100px);
  }

  50%{
    background: $color-tertiary;
    transform: translateX(0px);
  }

  100%{
    background: $color-tertiary;
    transform: translateX();
  }
}

@keyframes slideright{
  0%{
    background: $color-secondary;
    transform: translateX(0px);
  }

  25%{
    background: $color-secondary;
    transform: translateX(100px);
  }

  50%{
    background: $color-tertiary;
    transform: translateX(0px);
  }

  100%{
    background: $color-tertiary;
    transform: translateX();
  }
}

@keyframes preloader{
  0%{
    background-color: white;
    opacity: 1;
  }

  25%{
    background-color: white;
    opacity: 0.8;
  }

  50%{
    background-color: white;
    opacity: 0.5;
  }

  85%{
    background-color: white;
    opacity: 0.3;
  }
  100%{
    background-color: white;
    opacity: 0;
  }
}

