@mixin header {
  position: sticky;
  top: 0;
  background: white;
  height: 65px;
  box-shadow: 0 2px 4px #636363cc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}


@mixin logoimg {
  display: flex;
  margin: 25px auto 10px auto;
  object-fit: cover;
  width: 45%;
  
}

@mixin header_menu {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px auto 10px auto;
  z-index: 2;
  padding: 0px 0px 0px 20px;

  & i{
    color: black;
    opacity: 0.8;
    font-size: 18px;
  }
}

@mixin logoimg_menu{
  display: flex;
  object-fit: cover;
  width: 60%;
  margin: auto;
  position: sticky;
}

@mixin header_menu_tablet{
  padding: 0px 180px 0px 0px;

  & i{
    padding-right: 100px;
  }
}

@mixin header_lt{
  height: 70px;
}

@mixin header_menu_lt {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px auto 10px auto;
  z-index: 2;

  & i{
    color: black;
    opacity: 0.8;
    font-size: 18px;
    margin-left: -150px;
  }
}

@mixin logoimg_menu_lt{
  display: flex;
  object-fit: cover;
  width: 50%;
  margin: 0px 50px 0px 0px;
  position: sticky;
}

//large laptop version*//

@mixin header_lt_large{
  height: 80px;
}

@mixin header_menu_lt_large {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px auto 10px auto;
  z-index: 2;

  & i{
    color: black;
    opacity: 0.8;
    font-size: 20px;
    margin-left: -270px;
  }
}

@mixin logoimg_menu_lt_large{
  display: flex;
  object-fit: cover;
  width: 50%;
  margin: 0px 50px 0px 0px;
  position: sticky;
}



