@mixin container_2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: Roboto, sans-serif;
  
  font-weight: 600;
  font-size: 14px;
  background-color: $headline-background;
  width: 100%;
  height: 950px;

  &__title{
    padding: 20px 0px 0px 30px;
  }

}

@mixin frame{
  width: 85%;
  height: 190px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 20px auto 5px auto;
  font-size: 12px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 7px $color-border;


  & img{
    object-fit: cover;
    width: 100%;
    height: 140px;
    border-radius: 10px 10px 0px 0px;
  }

  & description{
    color: black;
  }
}

@mixin frame_text {
  display: flex;
  flex-direction: column;
  color: black;

  &__badge{
    background-color: $color-tertiary;
    border: 1px solid $color-tertiary;
    width: 25%;
    padding: 5px 0px 5px 18px;
    position: absolute;
    right: 16px;
    margin-top: -120px;
    margin-right: 20px;
    font-weight: 600;
    color: $color-badge;
    
  }
  
}
@mixin description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 12px;

  &__food{
    font-size: 16px;
    width: 70%;
    padding: 5px 0px 0px 6px;
    color: black;
    font-weight: bold;
  }

  &__place{
    font-size: 12px;
    padding: 2px 0px 0px 6px;
    color: black;
  }
}

@mixin heart {
  padding: 0px 0px 20px 230px;
  font-size: 20px;
  position: relative;
  margin-top: -35px;
  font-weight: 100;
  color: black;   
  -webkit-background-clip: text;
   .far:hover, .fa:hover, .far:active, .fa:active{
     color: transparent;
     font-weight: 900;
     background-image: linear-gradient(to top left, $color-primary, $color-secondary);
     background-clip: text;
     -webkit-background-clip: text;
     transition: all 1s;
   }
}





