@mixin body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  margin: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  animation: preloader 4s ease forwards;
}

@mixin loader {
  background: $color-primary;
	width: 40px;
	height: 40px;
	border-radius: 50%;
  margin: auto;
	animation: rotate 2s ease forwards infinite;
}

@mixin circle {
  background: $color-secondary;
	width: 40px;
  height: 40px;
	border-radius: 50%;
	position: relative;
}