$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #98e2cf;
$color-border: #d3d3d3;
$header-background: #eaeaea;
$headline-background: #f6f6f6;
$color-button: #fff;
$color-button-hover: #f5edff;
$color-icons: #7e7e7e;






